[data-theme="light"] {
  /* font faimily */
  --primary-font-family: "Roboto Flex", system-ui, Avenir, Helvetica;
  --secondary-font-family: "Poppins", system-ui, Avenir, Helvetica;
  /* font size */
  --theme-font-size-xs: 11px;
  --theme-font-size-s: 12px;
  --theme-font-size-m: 16px;
  --theme-font-size-l: 18px;

  /* font weight */
  --theme-font-weight-xxs: 300;
  --theme-font-weight-xs: 400;
  --theme-font-weight-s: 500;
  --theme-font-weight-m: 600;
  --theme-font-weight-l: 700;
  --theme-font-weight-xl: 800;

  /* colors */
  --theme-mono-black: #000000;
  --theme-mono-white: #ffffff;
  --theme-mono-grey: #919191;

  --theme-background: #F9F9FB;
  --theme-tile-background: rgba(0, 0, 0, 1);
  --theme-typewriting-color: #202020;
}